* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background-color: #f9f2eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#add-clock-button {
    padding: 10px 20px;
    background-color: #0072c6;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#add-clock-button:hover {
    background-color: #005b99;
}

.controls {
    display: flex;
    gap: 10px;
    margin-top: 70px;
    align-items: center;
}

#timezone-selector {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #0072c6;
    border-radius: 5px;
    width: 150px;
    height: 36px; 
}

.clocks {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

.circle {
    position: relative;
    width: 180px;
    height: 180px;
    background-color: #0072c6;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.watch {
    position: relative;
    width: 180px;
    height: 180px;
    background-color: #0072c6;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen {
    width: 100px;
    height: 60px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #00c68e;
}

.time {
    font-size: 20px;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
}

.time .seconds {
    font-size: 10px;
    margin-left: 2px;
    align-self: flex-end;
}

.button {
    position: absolute;
    width: 60px;
    height: 20px;
    background-color: #7ec0ee;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #0072c6;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #b0e0e6; /* Slightly lighter blue for hover effect */
}

.mode {
    top: 5px;
    right: 5px;
    transform: rotate(40deg);
}

.increase {
    bottom: 5px;
    right: 5px;
    transform: rotate(-35deg);
}

.light {
    bottom: 5px;
    left: 5px;
    transform: rotate(35deg);
    transform-origin: center;
}

.reset {
    top: 5px;
    left: 5px;
    transform: rotate(-40deg);
}

.toggle-format {
    top: px;
    right: 15px;
    transform: rotate(0deg);
    width: 20px;
    height: 20px;
    background-color: #7ec0ee;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggle-format:hover {
    background-color: #b0e0e6;
}



body.night-mode .screen {
    background-color: #ade6e2;
    color: white;
    border: 2px solid #00c68e;
}

body.night-mode .time {
    color: white;
}

body.night-mode .seconds {
    color: #00c68e;
}

.logo {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.2);
}
.ampm {
    font-size: 12px;
    vertical-align: super;
}

.title {
    position: absolute;
    top:20px;
    height: 50px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #6022a6;
}
.time-zone {
    width: 100px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    color: #6022a6;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}